extends layout

block scripts
	script(src="/javascripts/jquery-form.js")
	script(src="/javascripts/bootstrap-filestyle.min.js")
	script(src="/javascripts/index.js")

block content
	div Welcome to the user page!
	
	div
		h3 Past Workouts
		table
			thead
				tr
					th Date
					th Intervals
					th Total Distance
					th Total Time
					th Average Split
					th 
			tbody
				each workout in workouts
					tr
						td #{workout.niceDate}
						td #{workout.intervals.length}
						td #{workout.allIntervals.distance}
						td #{workout.allIntervals.duration}
						td #{workout.allIntervals.split}
						td <a href='/workout/view/#{workout._id}'>Details</a>